.agregar{
    background:url(../img/add.png) no-repeat;
    cursor:pointer;
    border:none;
    width:32px;
    height:32px;
}
.bloque{
    height: 50px;
}

.center{
    text-align: center;
}
.detalles{
	background:url(../img/details.png) no-repeat;
    cursor:pointer;
    border:none;
    width:16px;
    height:16px;
}
.editar{
	background:url(../img/edit.png) no-repeat;
    cursor:pointer;
    border:none;
    width:16px;
    height:16px;
}
.eliminar{
	background:url(../img/delete.png) no-repeat;
    cursor:pointer;
    border:none;
    width:16px;
    height:16px;
}

.fondo{
   position:absolute;
   top :0px;
   left: 0px;
    background: #FFF; 
    height: 100%;
    width: 100%;
    
}
.formulario{
    padding-left: 30px;
    background: #a23125;
    margin: 1px;
    overflow: hidden;
    position: absolute;
    height: 330px;
    width: 500px;   
    top: 50%;
    left: 50%;
    border-radius: 5px;
    margin-top: -160px;
    margin-left: -250px;
}
.header{
    height: 40px;
}

.header span{
    padding: 0 30 0 0; 
    cursor: pointer;
}

.angular-google-map-container {
                position: absolute;
                width: 300px;
                height: 200px;   
            }
.marco{
    position: absolute;
    background: #a42641;
    height: 400px;
    width: 800px;
    top :50%;
    left :50%;
    margin-left: -400px;
    margin-top: -200px;
    border-radius: 5px;
}
.opciones{
    width: 250px;
    border-radius: 4px;
    height: 25px;
}

.right{
    float: right;
    
    
}
input{
    width: 250px;
    border-radius: 4px;
    height: 25px;
}