<header id="header">
    <h1><a href="index.html">LJIRC</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
            <li><a href="#" class="button special">Sign Up</a></li>
        </ul>
    </nav>
</header>
<div class="center">
    <h4>ACERCA DE</h4>
    <h5>MASHIP 1</h5>
    <h5>Tecnologias Emergentes para la Ingeniería de software</h5>
    <hr>
    <h5>Integrantes:</h5>
    <h6>Cami</h6>
    <h6>Isa</h6>
    <h6>Jesus</h6>
    <h6>Legas</h6>
    <h6>Rube</h6>
    <div>Icons made by <a href="http://www.flaticon.com/authors/budi-tanrim" title="Budi Tanrim">Budi Tanrim</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    <div>Template by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</div>