<header id="header">
    <div style="float:left">
        <div style="background-image:url('{{usuario.foto}}'); height:48px; width:48px;
                background-size:cover; background-position:center center;">
        </div>
        <h4 style="color:#FFF;">{{usuario.nombre}}</h4>
    </div>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#" class="button special" ng-click="salir()">Salir</a></li>
        </ul>
    </nav>
</header>
<section class="wrapper style1 special">
    <div class="container">
        <header class="major">
            <h2>VIAJES</h2>
            <p>¡Todo una aventura que espera!</p>
            <p ng-if="vieajes.length == 0"> Ups parece que no tienes ningun viaje registrado</p>
        </header>
        <div class="row 150%">
            <div class="4u 12u$(medium)" ng-repeat="viaje in viajes">
                <section class="box">
                    <img src="{{viaje.image_url}}">
                    <h3>{{viaje.display_name}}</h3>
                    <h4>{{viaje.description}}</h4>
                    <h4>{{viaje.PrimaryLocationAddress.address}}</h4>
                    <h4>{{viaje.PrimaryLocationAddress.city}}</h4>
                    <button class="button" ng-click="goActividad( viaje.id )">Ver</button>
                </section>
            </div>
        </div>
    </div>
</section>
