<header id="header">
    <div style="float: left">
        <!--<h1><a href="index.html"> LJIRC</a></h1>-->
        <div style="background-image:url('{{usuario.foto}}'); height:48px; width:48px;
                background-size:cover; background-position:center center;">
        </div>
        <h4 style="color:#FFF;">{{usuario.nombre}}</h4>
    </div>
    <nav id="nav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#" class="button special" ng-click="salir()">Salir</a></li>
        </ul>
    </nav>
</header>
<section class="wrapper style2 special" ng-show="mostrarActividad">
    <div class="container">
        <header class="major">
            <h2>{{viajeactual.nombre}} -  {{viajeactual.lugar}}</h2>
        </header>
        <p ng-if="!actividades">Ups parece que no tienes ninguna actividad</p>
        <div style="display:block" ng-if="actividades &&  actividades.length > 0">
            <header style="float:right">
                <div class="row">
                    <h3>Cambiar moneda</h3>
                    <div class="select-wrapper">
                        <select ng-model="cambiarA.dato" ng-change="cambioMoneda();" value="MXN">
                            <option ng-repeat="cambio in cambios " value={{cambio.id}}>{{cambio.nombre}}</option>
                        </select>
                    </div>
                </div>
                <p>Cambia el la moneda en los costos de tus actividades</p>
            </header>
        </div>
        <section class="profiles" ng-if="actividades &&  actividades.length > 0">
            <div class="row">
                <section class="3u 6u(medium) 12u$(xsmall) profile" ng-repeat="actividad in actividades track by $index">
                    <div style="background-image: url('{{actividad.image}}'); background-size=cover; width: 150px; height: 150px; background-repeat: no-repeat; background-position:center center; background-color: #3cadd4; border-radius:80px"></div>
                    <div>
                        <h4>{{actividad.display_name}}</h4>
                        <p>{{actividad.location_name}}</p>
                        <p>${{actividad.total_cost}}</p>
                        <p ng-if="cambiarA.dato">Valor en:{{cambiarA.dato}} : {{actividad.cambio}}</p>
                        <p ng-if="cambiarA.dato"></p>
                </section>
                </div>
                <center>
                    <div class="3u 6u(2) 12u$(3)">
                        <ul class="actions vertical">
                            <li>
                                <button class="button fit" ng-click="compartir()">Compartir viaje</button>
                            </li>
                            <li>
                                <button class="button fit" onclick="window.open('http://noxtengel.tumblr.com','nuevaVentana','width=600, height=600')">Mostrar</button>
                            </li>
                            <li>
                                <h3 ng-show="compartido">Compartido</h3>
                            </li>
                        </ul>
                    </div>
                </center>
        </section>
        <div class="container">
            <h2>MI DESTINO</h2>
            <div class="row">
                <div class="1u 12u$(4)">
                    <h3 style="display:inline-block">Buscar:</h3></div>
                <div class="6u 12u$(4)">
                    <input type="text" ng-keyup="$event.keyCode == 13 ? masLugares() : null" ng-model="busqueda.name" name="name" id="name" value="" placeholder="Ej. Restaurante, hotel, parque">
                </div>
                <div class="1u 12u$(4)">
                    <img ng-if="busqueda.mapa" src="images/al_loading.gif">
                </div>
            </div>
            <map ng-if="readyForMap" center={{location.data}} zoom="10" style=" height: 50%; margin:auto">
                <marker position={{location.data}} title={{location.tittle}} icon="images/star.png"></marker>
                <!--
            <info-window id="1" position={{informacion.data}} visible="true" ng-show={{informacion.visible}}>
                <div>{{informacion.titulo}}
                    <center><img src={{informacion.url}}> </center>
                </div>
            </info-window>
            
            <div ng-repeat="lugar in lugares_cercanos">
                <marker position={{lugar.location.data}} title={{lugar.name}} icon="images/geo.png" on-click="informacion(this,$index);">
                </marker>
            </div>
        -->
            </map>
            <br>
            <!--
        <h2>LUGARES CERCANOS</h2>
        <map ng-if="lugares_cercanos_ok" center={{location.data}} zoom="10" style="width:80%; height: 50%; margin:auto">
        </map> -->
        </div>
</section>