<section id="banner">
    <h2>Bienvenido a LJIRC</h2>
    <p>Da clic para comenzar la aventura, usando tu cuenta de <a style=" text-decoration:none; color:#FFF; " href="https://www.tripit.com">Trip It</a></p>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=307185462745326";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <ul class="actions">
        <li>
            <a href="#" class="button big" ng-click="comenzar()">Comenzar</a>
        </li>
    </ul>
    <section id="one" class="wrapper style1 special">
        <div class="container">
            <header class="major">
                <h2 style="color:#474747">PODCAST</h2>
            </header>
            <div class="row 150%">
                <div class="4u 12u$(medium)">
                    <section class="box">
                        <h3>Rubén Guzmán Gómez</h3>
                        <h3>Isaac Santiago Legaspi</h3>
                        <object id="player9358194" width="240" height="133" type="application/x-shockwave-flash" data="//www.ivoox.com/playerivoox_ee_9358194_1.html">
                            <param name="movie" value="//www.ivoox.com/playerivoox_ee_9358194_1.html"></param>
                            <param name="AllowScriptAccess" value="always"></param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="wmode" value="transparent"></param>
                            <embed src="//www.ivoox.com/playerivoox_ee_9358194_1.html" type="application/x-shockwave-flash" allowfullscreen="true" wmode="transparent" allowscriptaccess="always" width="240" height="133"></embed>
                        </object>
                    </section>
                </div>
                <div class="8u 12u$(medium)">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/S39cMWAKmAY" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <section id="three" class="wrapper style1 special">
        <div class="fb-like" data-href="https://www.facebook.com/ljirc" data-width="600" data-numposts="90"></div>
        <div class="container">
            <div class="fb-comments" style="background-color:##F5F5F5;" data-href="https://ljirc.herokuapp.com/" data-numposts="5"></div>
        </div>
    </section>
</section>